# .envrc

set -euo pipefail

# prevent infinite looping
if [[ -n "${DIRENV_DEV_SHELL:-}" ]]; then
  return
fi

user="$(whoami)"
host="$(hostname)"

try_use() {
  local name="$1"
  local attr=".#${name}"

  if nix print-dev-env "$attr" &>/dev/null; then
    export DIRENV_DEV_SHELL="$name"
    echo "direnv: using $name"
    use flake ".#${name}"
    return 0
  fi
  return 1
}

try_use "dev-${user}@${host}" || try_use "dev-${host}"
