include "binds.kdl"

// Let DMS manage 
include "dms/alttab.kdl"
include "dms/outputs.kdl" // displays
include "dms/wpblur.kdl"  // blurring wallpaper settings

window-rule {
  geometry-corner-radius 1
  clip-to-geometry true
  open-maximized-to-edges true
}

window-rule {
  match is-active=false
  opacity 0.87
}

// Open DMS windows as floating by default
window-rule {
  match app-id=r#"org.quickshell$"#
  match app-id=r#"vicinae"#
  open-floating true
}

// Open terminal in single column
window-rule {
  match app-id=r#"Alacritty"#
  open-maximized false
  open-maximized-to-edges false
}

// No client side decorations
prefer-no-csd

layout {
  gaps 0
  background-color "transparent"

  empty-workspace-above-first

  preset-column-widths {
    proportion 0.33333
    proportion 0.5
    // proportion 0.66667
    proportion 1.0
  }

  preset-window-heights {
    proportion 0.33333
    proportion 0.5
    proportion 1.0
  }
  
  focus-ring {
    off
    width 1
  }

  tab-indicator {
    width 3
    gap -2
  }
}

// Put wallpaper in overview
layer-rule {
    match namespace="^quickshell$"
    place-within-backdrop true
}

overview {
  workspace-shadow {
    off
  }
}

gestures {
  hot-corners {
    off
  }
}

environment {
  XDG_CURRENT_DESKTOP "niri"
  QT_QPA_PLATFORM "wayland"
  ELECTRON_OZONE_PLATFORM_HINT "auto"
  QT_QPA_PLATFORMTHEME "gtk3"
  QT_QPA_PLATFORMTHEME_QT6 "gtk3"
}

hotkey-overlay {
    skip-at-startup
}

input {
  touchpad {
    tap // tap for left click (instead of needing to physically click trackpad)
    dwt // disable when typing
    drag false // disable tap-and-drap
    tap-button-map "left-right-middle" // (1-finger)-(2-finger)-(3-finger) tap corresponds to mouse buttons
    natural-scroll
  }
  workspace-auto-back-and-forth // switching to same workspace twice will switch back to original workspace
}
